<nav class="">
  <div class="">
    <div class="nav-top">
      <a
        class="nav-top-item nav-brand"
        routerLink="/"
        routerLinkActive="active"
        style="color: #072f5f"
        >Web-Shop</a
      >

      <div class="nav-top-item nav-search">
        <input type="text" class="search-input" placeholder="search..." />
        <i class="bi bi-search icon-search"></i>
      </div>
      <div class="nav-top-item">
        <div>
          <a
            class="icon-cart nav-link"
            aria-current="page"
            routerLink="/cart"
            routerLinkActive="active"
            ><i class="bi bi-cart-fill"></i
          ></a>
        </div>

        <div>
          <a
            class="icon-account nav-link"
            aria-current="page"
            routerLink="/auth"
            routerLinkActive="active"
            ><i class="bi bi-person-circle"></i> {{ user }}</a
          >
        </div>
      </div>
    </div>
  </div>
</nav>
