.nav-brand {
  color: #ffa700;
  font-weight: 400;
  font-size: 1.5em;
  text-decoration: none;
  display: block;
}

.nav-top {
  background-color: #072f5f;
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
}

.nav-top-item {
  /* border: 2px solid blue; */
  margin: 1em;
}

.nav-top-item:nth-child(2) {
  /* border: 2px solid red; */
}

.search-input {
  border-radius: 0.4em;
  font-weight: 400;
  font-size: 1.2em;
  padding: 0.25em;
}

.icon-search {
  margin-left: -2em;
  color: #072f5f;
}

.icon-search:hover {
  color: #072f5f81;
}

.nav-top-item:last-child {
  display: flex;
}

.icon-cart,
.icon-account {
  margin: 1em;
}

.nav-link {
  color: #ffa700;
}

.nav-link:hover {
  color: #ffa6006b;
}
