.nav-brand {
  color: #072f5f;
  font-weight: 400;
  font-size: 1.5em;
  text-decoration: none;
  display: block;
}

.nav-top {
  display: flex;
  justify-content: space-between;
}

.nav-top-item {
  margin: 1em;
}

.search-input {
  border-radius: 0.4em;
  font-weight: 400;
  font-size: 1.2em;
  padding: 0.25em;
  border: none;
}

.search-input:focus {
  border: 1px solid #072f5f;
  outline: none;
}

.icon-search {
  margin-left: -2em;
  color: #072f5f;
}

.icon-search:hover {
  color: #072f5f81;
}

.nav-top-item:last-child {
  display: flex;
}

.icon-cart,
.icon-account {
  margin: 1em;
}

.nav-link {
  color: #072f5f
}

.nav-link:hover {
  color: #757b81
}
