<nav class="">
  <div class="">
    <div class="nav-top">
      <a
        class="nav-top-item nav-brand"
        routerLink="/"
        routerLinkActive="active"
        style="color: #072f5f"
        >Web-Shop</a
      >

      <div class="nav-top-item nav-search">
        <input
          type="text"
          class="search-input"
          placeholder="Search product here..."
          #searchRef
          
        />
        <i class="bi bi-search icon-search" (click)="onSearch()" role="button"></i>
      </div>
      <div class="nav-top-item">
        <div>
          <a
            class="icon-cart nav-link"
            aria-current="page"
            routerLink="/cart"
            routerLinkActive="active"
            ><i class="bi bi-cart-fill"></i
          ></a>
        </div>

        <div>
          <a
            class="icon-account nav-link"
            aria-current="page"
            routerLink="/auth"
            routerLinkActive="active"
            ><i class="bi bi-person-circle"></i> {{ user }}</a
          >
        </div>
      </div>
    </div>
  </div>

  <div class="results-container" id="results-container" *ngIf="searchResults.length > 0" #resultsRef >
    <app-search-item
      *ngFor="let product of searchResults; let i = index"
      [product]="product"
      [index]="i"
    ></app-search-item>
  </div>
</nav>
