<div class="category-card">
  <img class="category-image" [src]="category.imageUrl" alt="Category Image" />

  <div class="card-body">
    <h5 class="card-title">{{ category.name }}</h5>
    <p class="card-text font-italic" *ngIf="hide">
      {{ category.description.substring(0, 50) }}...<span
        class="btn-show"
        role="button"
        (click)="toggleText()"
        >(+)</span
      >
    </p>
    <p class="card-text font-italic" *ngIf="!hide">
      {{ category.description }}
      <span class="btn-show" role="button" (click)="toggleText()">(-)</span>
    </p>
  </div>

  <button class="btn-edit" (click)="onEdit()">Edit</button>
</div>
