.wishlist-item {
  display: flex;
  border-radius: 5px;
  background-color: whitesmoke;
  min-width: 400px;
  margin: 0.5rem;
}

.child-item {
  margin: 0.5rem 1rem;
  width: 8rem;
}

/* #cart-item-quantity {
  margin: 0.5rem;
  font-size: 1.5rem;
  font-weight: 400;
} */

#quantity-label {
  font-size: 1rem;
}

#cart-item-quantity {
  margin: 0.5rem 0rem;
  width: 80px;
  font-size: 1rem;
  font-weight: 400;
  border: none;
  outline: none;
}

.wishlist-img {
  width: 60px;
  height: 60px;
  border-radius: 5px;
}

.name {
  color: #484848;
  font-size: 1rem;
  font-weight: 400;
}

.card-text {
  margin: 0.5rem;
  font-size: 1.5rem;
  font-weight: 400;
}

.btn {
  margin: 0.5rem;
}
