<ng-template appPlaceholder></ng-template>
<div class="wishlist-item">
  <img
    [src]="cartItem.product.imageUrl"
    alt="product_img"
    class="wishlist-img child-item"
  />
  <div class="child-item">
    <div class="name">{{ cartItem.product.name }}</div>
    <div class="card-text"><sup>$</sup>{{ cartItem.product.price }}</div>
  </div>

  <div class="child-item">
    <div id="quantity-label">Quantity</div>
    <!-- <div id="cart-item-quantity">
      {{ cartItem.quantity }}
    </div> -->
    <input
      class="form-control"
      type="number"
      id="cart-item-quantity"
      min="1"
      [defaultValue]="1"
      step="1"
      #quantityRef
      (change)="onQuantityChange()"
    />
  </div>

  <div class="child-item">
    <button
      class="btn btn-outline-danger"
      style=""
      (click)="onRemoveFromCart()"
    >
      Remove
    </button>
  </div>
</div>
<app-loading-spinner *ngIf="loading"></app-loading-spinner>
