.wrapper {
  width: 85vw;
  margin: auto;
  padding: 4em;
}

.product-list-heading {
  text-align: center;
  width: 8em;
  margin: 0.5em auto;
}

.btn-add-product {
  width: 150px;
  height: 40px;
  display: block;
  border-radius: 5px;
  border: none;
  margin: auto;
  background-color: #072f5f;
  color: #ffa700;
  font-weight: 400;
  font-size: 1em;
}

.btn-add-product:hover {
  color: #ffa6006b;
}

.products-container {
  margin-top: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 20px;
  align-items: stretch;
}
