<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h3 class="pt-3">Shopping cart</h3>
    </div>
  </div>

  <hr style="margin: 2rem" />

  <app-cart-item
    *ngFor="let cartItem of cartItems; let i = index"
    [cartItem]="cartItem"
    [index]="i"
  ></app-cart-item>

  <hr />
  <div class="cart-footer">
    <span>Total : <sup> $ </sup> {{ totalCost }}</span>
    <button
      (click)="order()"
      [disabled]="!canOrder"
      type="button"
      class="btn-checkout"
    >
      Checkout
    </button>
  </div>
</div>
