<app-header></app-header>
<div class="wrapper">
  <div class="nav-sidebar">
    <i
      class="bi bi-list menu-btn-show"
      id="icon-menu"
      role="button"
      (click)="onShowMenu()"
    ></i>
    <i
      class="bi bi-x-square-fill close-btn-hide"
      id="icon-close"
      role="button"
      (click)="onHideMenu()"
    ></i>
    <div id="sidebar-navs" class="sidebar-navs navs-hide">
      <div class="sidebar-nav-item">
        <a
          class="nav-link"
          aria-current="page"
          routerLink="/admin/categories"
          routerLinkActive="active"
          >Categories</a
        >
      </div>
      <div class="sidebar-nav-item">
        <a
          class="nav-link"
          aria-current="page"
          routerLink="/admin/products"
          routerLinkActive="active"
          >Products</a
        >
      </div>

      <div class="sidebar-nav-item">
        <a
          class="nav-link"
          aria-current="page"
          routerLink="/wishlist"
          routerLinkActive="active"
          >Wishlist</a
        >
      </div>
    </div>
  </div>
  <div class="main-container">
    <router-outlet></router-outlet>
  </div>
</div>
<app-footer></app-footer>
