<ng-template appPlaceholder></ng-template>
<!-- <div class="card">
  <img class="product-image" [src]="product.imageUrl" alt="Product Image" />

  <div class="card-body">
    <h5 class="card-title" role="button" (click)="showProductDetails()">
      {{ product.name }}
    </h5>
    <p class="card-text"><sup>$</sup>{{ product.price }}</p>
  </div>

  <div class="card-actions">
    <button class="btn btn-outline-primary" style="" (click)="onAddToCart()">
      <i class="bi bi-cart-plus"></i>
    </button>

    <button
      class="btn btn-outline-primary"
      style=""
      (click)="onAddToWishList()"
    >
      <i class="bi bi-suit-heart"></i>
    </button>

    <button
      class="btn btn-outline-primary"
      style=""
      (click)="onEdit()"
      *ngIf="canEdit"
    >
      <i class="bi bi-pencil"></i>
    </button>
  </div>
</div> -->

<div class="card">
  <img class="product-image" [src]="product.imageUrl" alt="Product Image" />

  <div class="product-text">
    <div class="product-price"><sup>$</sup>{{ product.price }}</div>
    <div class="product-name">{{ product.name }}</div>
  </div>
  <div class="card-actions">
    <button class="btn-cart" style="" (click)="onAddToCart()">
      Add to Cart
    </button>

    <button class="btn-wishlist" style="" (click)="onAddToWishList()">
      <i class="bi bi-heart-fill"></i>
    </button>

  </div>
</div>
