.card {
  border: none;
  background-color: whitesmoke;
  width: 15rem;
  border-radius: 10px;
}

.product-image {
  width: 15rem;
  height: 15rem;
  border-radius: 10px;
}

.product-text {
  margin: -15% auto 0 auto;
  width: 80%;
  padding: 0.5rem;
  border-radius: 0.25rem;
  text-align: center;
  background-color: white;
  box-shadow: 2px 2px 2px whitesmoke;
}

.product-price {
  font-size: 1.5rem;
  font-weight: 400;
}

.product-name {
  font-size: 1rem;
  font-weight: 400;
}

.product-name:hover {
  color: #072f5f;
  font-weight: bold;
}

.btn-wishlist {
  position: absolute;
  font-size: 1.5em;
  top: 0.5em;
  right: 0.5em;
  color: red;
  background: none;
  border: none;
}

.btn-wishlist:hover {
  color: rgb(138, 18, 18);
}

.btn-cart {
  width: 150px;
  height: 40px;
  display: block;
  border-radius: 5px;
  border: none;
  margin: auto;
  background-color: #072f5f;
  color: #ffa700;
  font-weight: 400;
  font-size: 1em;
}

.btn-cart:hover {
  color: #ffa6006b;
}

a {
  text-decoration: none;
}

.card-title {
  color: #484848;
  font-weight: 400;
}

.card-title:hover {
  color: #0d6efd;
  font-weight: bold;
}

.card-text {
  font-size: x-large;
}

.card-actions {
  margin: auto;
}

.card-actions > .btn {
  margin: 1rem 0.5rem;
}
