/* .card{
    width : 20rem;
    height : 24rem;
  }
  
  .card-img-top {
    object-fit: cover;
    height: 20rem;
  }
  
  a {
    text-decoration: none;
  }
  
  .card-title {
    color: #484848;
    font-size: 1.1rem;
    font-weight: 400;
  }
  
  .card-title:hover {
    font-weight: bold;
  }
  
  .card-text {
    font-size: 0.9rem;
  }
  
  #edit-product {
    float: right;
  }

  .card-actions {
    margin: auto;
  } */

.card {
  width: 20rem;
  /* height: 24rem; */
}

.product-image {
  width: 320px;
  height: 240px;
}

a {
  text-decoration: none;
}

.card-title {
  color: #484848;
  font-weight: 400;
}

.card-title:hover {
  color: #0d6efd;
  font-weight: bold;
}

.card-text {
  font-size: x-large;
}

#edit-product {
  float: right;
}

.card-actions {
  margin: auto;
}

.card-actions > .btn {
  margin: 1rem 0.5rem;
}
